<%- include("partials/header.ejs") %>
<body>
  <div class="container new loan">
    <img src="img/Book_flowerd_img.jpg" class="addLoan img left">
    <h1 class="loan titel">Take the Book</h1>
    <form action="/addLoan" method="POST" class="loan form">
      <input type="hidden" name="name_r" value="<%= name_r %>">
      <input type="hidden" name="email" value="<%= email %>">
      <input type="number" class="input addLoan area" name="id_books" placeholder="Book ID" required>
      <input type="text" class="input addLoan area" name="loan_date" placeholder="Date of Loan" required>
      <div class="addLoan buttons">
        <input type="submit" value="Add Loan" class="small">
        <button  class="small"><a href="/">Back</a></button>
      </div>
    </form>
      <% if (locals.message) { %>
        <h2  class="loan feedback"><%= message %></h2>
      <% } %>
      <img src="img/Online_library_img.jpg" class="addLoan img right">
  </div>
</body>
<%- include("partials/footer.ejs") %>
